/* 
    Document   : localfilter
    Created on : Mar 17, 2013, 3:15:49 PM
    Author     : Niels
    Description:
        Purpose of the stylesheet follows.
*/

/* Filters for individual keys page */
#localfilter {
    background-color: #ffffff;
    padding: 10px;
    padding-top: 30px;
    border: none;
}

#keyitems>div {
    float: left;
}

select#initems, select#outitems {
    width: 220px;
    height: 400px;
}

#buttons {
    width: 36px;
    margin-top: 100px;
    text-align: center;
}

#buttons>span {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('media/button_face.png');
    background-repeat: no-repeat;
    margin: 5px;
}

#buttons button span {
    display: none;
}

#buttons button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
}

button#excl {
    background-image: url('media/button_icon_move_right.png');
}

button#exclall {
    background-image: url('media/button_icon_move_all_right.png');
}

button#incl {
    background-image: url('media/button_icon_move_left.png');
}

button#inclall {
    background-image: url('media/button_icon_move_all_left.png');
}

#keyitems label {
    display: block;
    width: 210px;
    padding: 5px;
    margin-right: 0px;
    background-image: url('media/box_header_gradient.jpg');
    background-repeat: repeat-x;
    font-weight: bold;
    color: #ffffff;
}

#keyitems select {
    font-size: 12px;
}

#formbuttons {
    clear: both;
    width: 475px;
    text-align: right;
    padding-top: 10px;
}

/*#formbuttons>button {
    width: 80px;
    height: 24px;
    border-width: 0px;
    border-left: 2px solid #c6c6c6;
    border-right: 2px solid #c6c6c6;
    border-radius: 4px;
    background-image: url('media/button_face_gradient.png');
    background-repeat: repeat-x;
    color: #333333;
    font-size: 85%;
}*/


#submit_div {
    width: 890px;
    text-align: right;
    margin-top: 5px;
}