Redirect "/ws/keyJSON" "http://data.rbg.vic.gov.au/dev/keybase-ws/ws/key"

RewriteEngine on
RewriteRule ^(js|css)/(.+)\.(\d+)\.(js|css)$ $1/$2.$4 [L]
RewriteCond $1 !^(index\.php|favicon\.ico|css|captcha|images|js|third_party|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
