/* 
    Document   : banner
    Created on : 14/03/2013, 10:46:33 AM
    Author     : nklaze
    Description:
        Purpose of the stylesheet follows.
*/

#banner {
    height: 126px;
    width: 910px;
   
    background-image: url('media/banner_gradient.jpg'); background-repeat: repeat-x; /* fallback image */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2688c9), to(#89a1bb)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #2688c9, #89a1bb); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #2688c9, #89a1bb); /* Firefox 3.6+ */
    background-image: -ms-linear-gradient(top, #2688c9, #89a1bb); /* IE 10+ */
    background-image: -o-linear-gradient(top, #2688c9, #89a1bb); /* Opera 11.10+ */
    background-image: linear-gradient(top, #89a1bb, #2688c9);
    
}

#banner #banner-left {
    float: left;
}

#banner .title {
    padding-left: 10px;
    color: #cc0000;
    font-size: 50px;
    letter-spacing: -0.07em;
}

#banner .subtitle {
    display: block;
    margin-left: 10px;
    margin-top: -4px;
    color: #000000;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 15px;
}

#banner banner-right {
    display: inline-block;
    width: 478px;
    text-align: right;
}

#banner .banner-image img {
    float: right;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 10px;
}

#menu {
    height: 25px;
    width: 910px;
    color: #fff;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 10px;
}

#menu>div {
    padding-top: 3px;
    padding-bottom: 3px;
}

#menu a.menu-item, #menu a.menu-item-left, #menu a.menu-item-right {
    display: inline-block;
    width: 150px;
    margin: 0px;
    text-align: center;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
}

#menu a.menu-item, #menu a.menu-item-left {
    margin-right: 1px;
}

#menu a.menu-item, #menu a.menu-item-right {
    border-left: solid 1px #ffffff;
}

div#logo {
    float: left;
    width: 450px;
}

div#logo a img {
    border: none;
}

div#banner-right {
    float: left;
    width: 450px;
}

label[for="searchbox"] {
    width: auto;
    color: #ffffff;
}

div#search {
    text-align: right;
}

span.search {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('media/button_face.png');
    background-repeat: no-repeat;
    position: relative;
    bottom: 2px;
}

.search input[type="submit"] {
    border: 0px;
    background-color: transparent;
    background-image: url('media/button_icon_search.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 22px;
    width: 22px;
}

input#searchbox {
    width: 200px;
    margin-right: 3px;
}

div#banner-right div#filter {
    width: 100px;
    height: 23px;
    margin-left: 263px;
    margin-top: 3px;
    padding: 0px 20px;
    padding-left: 3px;
    border-radius: 6px;
    background-image: url('media/button_face_gradient.png');
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3e3e3), to(#b9b9b9)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc); /* Firefox 3.6+ */
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc); /* IE 10+ */
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc); /* Opera 11.10+ */
    background-image: linear-gradient(top, #cccccc, #eeeeee);
}

div#banner-right div#filter a {
    display: inline-block;
    width: 95px;
    height: 19px;
    padding-top: 4px;
    padding-left: 25px;
    background-image: url('media/filter(buttoned).png');
    background-repeat: no-repeat;
    color: #888;
    font-weight: bold;
    text-decoration: none;
}

div#login {
    text-align: right;
    color: #ffffff;
    padding-top: 18px;
}

div#login a {
    color: #ffffff !important;
}